#botonAgregar {
	border-radius: 105px 105px 105px 105px;
	-moz-border-radius: 105px 105px 105px 105px;
	-webkit-border-radius: 105px 105px 105px 105px;
	border: 0px solid #b319b3; 
	background-color: #0d138f; 
	color: white;
	padding-left: 15px; 
	padding-right: 15px;
}

.botones {
	border-radius: 0px 200px 0px 200px;
	-moz-border-radius: 0px 200px 0px 200px;
	-webkit-border-radius: 0px 200px 0px 200px;
	border: 0px solid #000000; 
	padding-left: 15px; 
	padding-right: 15px;
}

#botonActualizar {
	background-color: #0d00ff; 
	color: white; 
}

#botonEliminar {
	background-color: #ff000d; 
	color: white; 
}

#boton_add_modal {
	background-color: #90d190; 
	color: white; 
}